body {
  font-family: "Roboto", sans-serif;
  color: #434455; /* Slate - основний текст */
  background-color: #FFFFFF;
}
.container{
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
a{
    text-decoration: none;
    cursor: pointer;
}

.header-logo-first_part, .footer-logo-first_part{
    color: #4D5AE5;
}
.header-logo-second_part{
    color: #2E2F42;
}
.footer-logo-second_part{
    color: #F4F4FD;
}
.footer-logo,.header-logo{
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em; 
    font-size: 18px;
    align-self: center;
}
.nav-link-item-a, .contacts-item-a{
      margin-left: 40px;
}
/* Навігаційні посилання */

.nav-link>ul,.main-header,.contacts>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nav-link-item-a{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
  /* Додаємо інтерактивність */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.features-text, .portfolio-text, .team-text, .footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}
h1{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}
h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    
}
h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.nav-link-item-a:hover,
.nav-link-item-a:focus {
  color: #404BBF; /* Ocean */
}
ul{
    list-style: none;
}
.contacts-item-a{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contacts-item-a:hover,
.contacts-item-a:focus{
    color: #404BBF;
}

.solution{
    background-color: #2E2F42;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 191px;
}
.solution-text{
    text-align: center;
    color: #FFFFFF;
    padding: 188px 0;
    width: 496px;
}
.hero-btn {
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 4px;
  width: 169px;
  height: 56px;
}
.hero-btn:hover, .hero-btn:focus{
    background-color: #404BBF;
}
.team{    background-color: #f4f4fd;}
.team-item-name,.team-text,.team-top{

    text-align: center;
}
.team-item{
    background-color: #ffffff;
}

footer, .footer-logo{
    background-color: #2E2F42;
    color: #F4F4FD;

}
footer{
    padding: 100px 0;
}
/* #region Features */
.features>h2{
    display: none;
}
.features-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 117px 0 120px 0;
    flex-wrap: wrap;
}
.features-item{

}
.features-title{

}
.features-text{
    width: 264px;
}
/* #endregion */
/* #region Team */
.team{

}
.team-top{
    padding-top: 120px;

}
.team-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 120px;
    flex-wrap: wrap;

}
.team-item{
    border-radius: 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.8);
}
/* #endregion */
/* #region Portfolio */
.portfolio{
    padding: 120px 0;
}
.portfolio-title{
    padding-bottom: 72px;
}
.portfolio-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.portfolio-name,.portfolio-text{

}
.portfolio-item{
    border-left: solid 1px #E0E0E0;
    border-right: solid 1px #E0E0E0;
    border-bottom: solid 1px #E0E0E0;
}
.portfolio-item>img{
    border:solid 1px #ffffff;
}
/* #endregion */