body {
  font-family: "Roboto", sans-serif;
  color: #434455; /* Slate - основний текст */
  background-color: #FFFFFF;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.logo{
    font-family: "Raleway", sans-serif;
    color: #2E2F42;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.35;
    letter-spacing: 0.03em; 

}
/* Навігаційні посилання */
.nav-link a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
  /* Додаємо інтерактивність */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.features-text, .portfolio-text, .team-text, .footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
h1{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
}
h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.nav-link a:hover,
.nav-link a:focus {
  color: #404BBF; /* Ocean */
}
ul{
    list-style: none;
}
.contacts a{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.contacts a:hover,
.contacts a:focus{
    color: #404BBF;
}

.logo span{
    color: #4D5AE5;
}
.solution{
    background-color: #2E2F42;
    color: #F4F4FD;
}
.solution h1{
    text-align: center;

}
.hero-btn {
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  cursor: pointer;
}
.hero-btn:hover, .hero-btn:focus{
    background-color: #404BBF;
}
.team{    background-color: #f4f4fd;}
.team h2, .team h3, .team p, .portfolio h2{

    text-align: center;
}
.team ul li{
    background-color: #ffffff;
    margin: 20px 20px;
}
footer .logo{
    color: #F4F4FD;
}
footer, footer a{
    background-color: #2E2F42;
    color: #F4F4FD;

}