body {
  font-family: "Roboto", sans-serif;
  color: #434455; /* Slate - основний текст */
  background-color: #FFFFFF;
}
a{
    text-decoration: none;
    color: #2E2F42;
    font-weight: bold;
    cursor: pointer;
}
/* Навігаційні посилання */
.nav-link a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
  /* Додаємо інтерактивність */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.nav-link a:hover,
.nav-link a:focus {
  color: #404BBF; /* Ocean */
}
header a, footer a{
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
}
ul{
    list-style: none;
}
address{
    font-style: normal;
}
a span{
    color: #4D5AE5;
}
.solution{
    background-color: #2E2F42;
    color: white;
}
.solution h1{
    text-align: center;

}
.hero-btn {
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  cursor: pointer;
}
.team{    background-color: #f4f4fd;}
.team h2, .team h3, .team p, .portfolio h2{

    text-align: center;
}
.team ul li{
    background-color: #ffffff;
    margin: 20px 20px;
}
footer, footer a{
    background-color: #2E2F42;
    color: white;

}